<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Acknowledgements</string>
    <key>Title</key>
    <string>Acknowledgements</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>Acknowledgements</string>
            <key>FooterText</key>
            <string>This application uses the following third party libraries and resources</string>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>Icon</string>
            <key>FooterText</key>
            <string>Designed by Freepik from Flaticon.</string>
        </dict>
	</array>
</dict>
</plist>
